.profile {
    background-color: bisque;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    font-size: 23px;
    justify-content: center;
}

.avatar {
    margin-top: 10px;
    border-radius: 50%;
    background-color: azure;
}

.description {
    text-align: center;
}

.description > p {
    margin: 5px;
    color: rgb(92, 29, 29);
}


